*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
header .main{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(2.jpg);
	height:100vh;
	padding: 0px auto;
	background-size: cover;
	background-position: center;
}

.main i {
	padding: 8px;
}

.main ul{
	float: right;
	list-style-type: none;
	margin-top: 25px;
}

.main ul li{
	display: inline-block;
	padding-right: 5px;
}

.main ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 1px solid;
	transition: 0.6s;
	margin: 10px 0px;

}
.main ul li a:hover{
	background-color: #F5CBA7;
	color: #fff;
}
.main ul li.active a{
	background-color: #F5CBA7;
	color: #fff;
}

.title {
	position: absolute;
	top: 30%;
	left: 35%;
	transform: translate(-50%;-50%);
	align-items: center;
}

.title h1{
	font-family: sans-serif;
	color: #fff;
	font-size: 70px;
}



.button{
	position: absolute;
	top: 45%;
	left: 45%;
	transform: translate(-50%;-50%);
}
.btn1{
	border: 1px solid #fff;
	padding: 10px 30px;
	color: #fff;
	text-decoration: none;
	transition: 0.6s ease;
	border-radius: 5px;
	margin: 10px;
}
.btn1:hover {
	background-color: #F5CBA7;
	color: #000;
}

.button2{
	position: absolute;
	top: 45%;
	left:28%;
	align-items: center;
	transform: translate(-50%;-50%);
	padding-right: 50px;
}

.btn2{
	border: 1px solid #fff;
	padding: 10px 30px;
	color: #fff;
	text-decoration: none;
	transition: 0.6s ease;
	border-radius: 5px;
	margin: 10px;
}

.btn2:hover {
	background-color: #F5CBA7;
	color: #000;
}

.btn3{
	border: 1px solid #fff;
	padding: 10px 30px;
	color: #fff;
	text-decoration: none;
	transition: 0.6s ease;
	border-radius: 5px;
	margin: 10px;
}

.btn3:hover {
	background-color: #F5CBA7;
	color: #000;
}

.btn4{
	border: 1px solid #fff;
	padding: 10px 30px;
	color: #fff;
	text-decoration: none;
	transition: 0.6s ease;
	border-radius: 5px;
	margin: 10px;
}

.btn4:hover {
	background-color: #F5CBA7;
	color: #000;
}

.container {
	margin:10px auto;
}

.container h1 {
	padding:0px 15px;
	margin: 10px 0px;
	border-bottom: 1px solid #000;
	font-size: 50px;
	letter-spacing: 5px;
}

.payment h1 {
	padding:0px 15px;
	margin: 10px 0px;
	border-bottom: 1px solid #000;
	font-size: 50px;
	letter-spacing: 5px;
}

section h5 {
	padding:10px 15px;
	margin: 10px 0px;
	text-align: center;
	background-color: #F5CBA7;
	font-size: 30px;
	letter-spacing: 5px;
	color:#000;
}
.container .col-5 {
	float: left;
	padding:10px 20px;
	background-color: #CDCBCA;
	margin:50px 100px;
	width: 90px;
	
}

.box {
    color: #e9967a;
    font-size: 20px;
    height: 500px;
}

.box: after {
	content: '';
	display:block;
	clear: both;
}
 .box .col-3 {
	margin:50px 100px;
	width: 90px;
	float: left;
	padding-left: 20px;
	padding-right: 15px;
	align-items: center;
	background-color: #CDCBCA;
}

.service h1 {
	padding:0px 15px;
	margin: 10px 0px;
	border-bottom: 1px solid #000;
	font-size: 50px;
	letter-spacing: 5px;
}

.box .col-4 {
	width:25%;
	float: left;
	padding:0px 30px;
	box-sizing: border-box;
	
	margin:50px 10px;
}

.icon {
	width: 70px;
	height: 70px;
	border: 1px solid;
	border-radius: 50%;
	text-align: center;
	line-height: 70px;
	font-size: 20px;
	margin:0 auto;
}

.box .col-4 h4 {
	margin-top: 10px;
	text-align: center;
}

.box .col-4 p {
	margin-top: 10px;
	text-align: center;
}

.contact-form {
  padding-top: 100px 80px;
}
.section-title {
	font-size: 30px;
	
	padding-bottom: 15px;
 	margin-bottom: 50px;
	border-bottom: 1px solid #F5CBA7;
	font-family: georgia;
}
input,textarea {
  width:400px;
  margin-top:10px;
  margin-bottom:30px;
  padding:20px;
  font-size:18px;
  border:1px solid #F5CBA7;
}

.contact-submit {
  background-color:#F5CBA7;
  color:#fff;
}

footer {
  background-color: #333;
  color: #fff;
  height: 30px;
  padding: 30px 0;
  text-align: center;
}
